%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@bodega.img1}")
      .video_info.col-sm-3
        %header
          %h3= @bodega.nombre
          %span Valoracion
          = content_tag :div, id: "valoracion_bodega", data: { valoracion: "#{ @bodega.average_rating }" } do
            - ""
            
          %p Número de vinos valorados: #{ @bodega.number_of_rated_vinos }

          %p= @bodega.denominacion
        %p= @bodega.descripcion
        - if current_user
          .actions
            = button_to new_bodega_comentario_path(@bodega, @comentario), remote: true, method: "get" do
              .btn-btn-default Comentar bodega

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      #comentario-form
      
      %ul
        = render partial: "comentarios/index"
