%header
  %h2= "Número de comentarios #{ @comentarios.count }"

- @comentarios.each do |comentario|
  %article.review
    %li.row
      .col-sm-10

        %p #{ link_to comentario.user.full_name, user_path(comentario.user) }, #{ comentario.created_at.strftime('%F') } a las #{ comentario.created_at.strftime('%T') } 
        %p= comentario.comentario
      .col-sm-8
        - if comentario.comentable.instance_of?(Vino) && current_user.has_rated_vino?(comentario.comentable)

          = content_tag :div, id: "user_rating_in_comentario", data: { rating: "#{ Rating.find_by(user: current_user, vino: comentario.comentable).valoracion }" } do
            - ""

