%header
  %h2= "Número de comentarios #{ @comentarios.count }"

- @comentarios.each do |comentario|
  %article.review
    %li.row
      .col-sm-10

        %p #{ link_to comentario.user.full_name, user_path(comentario.user) }, #{ comentario.created_at.strftime('%F') } a las #{ comentario.created_at.strftime('%T') } 
        %p= comentario.comentario
      .col-sm-8
        - if comentario.comentable.instance_of?(Vino)

          %div{:id => "comentario_#{ comentario.id }" }

          :javascript

            $('#comentario_#{ comentario.id }').raty({
              readOnly: true,
              score: "#{ Rating.find_by(user: comentario.user.id, vino: comentario.comentable).valoracion }",
              path: '../assets/'    
            });

