- @comentarios.each do |comentario|
  %article.review
    %li.row
      .col-sm-4

        %p #{ link_to comentario.user.full_name, user_path(comentario.user) }, #{ comentario.created_at.strftime('%F') } a las #{ comentario.created_at.strftime('%T') } 
        %p= comentario.comentario
        

      .col-sm-8
        - if current_user.has_rated_vino? @vino
          #user_rating_in_comentario

          :javascript
            $(document).ready(function() {
              $('#user_rating_in_comentario').raty({
                readOnly: true,
                score: ' #{ @rating.valoracion } ',
                path: '../assets/'
              });  
            });