
%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img= image_tag @vino.img_botella_big
      .video_info.col-sm-3
        %header
          %h3= @vino.nombre

          %h4 Valoracion general
          = content_tag :div, id: "vino_rating", data: { valoracion: @vino.average_rating } do
            -""

          %p Número de valoraciones: #{ @vino.ratings.count }
          
          - if current_user

            - if current_user.has_rated_vino? @vino
              %h4 Tu valoración
              = content_tag :div, id: "valoracion_usuario", data: { valoracion: @rating.valoracion } do
                -""
              
              %a.btn.btn-default Cambiar valoracion
              = content_tag :div, id: "boton_cambiar_valoracion", data: { rating: @rating.id } do
                -""

            - else
              %a.btn.btn-default Valorar vino
              = content_tag :div, id: "boton_valoracion", data: { vino: @vino.id, user: current_user.id } do
                -""

          %p Bodega: #{ link_to @vino.bodega.nombre, bodega_path(@vino.bodega) }

          %p Año: #{ @vino.añada }

          - if !@vino.envejecimiento.blank?
            %p Envejecimiento: #{ link_to @vino.envejecimiento.nombre, envejecimiento_path(@vino.envejecimiento.id) }

          - if !@vino.meses_envejecimiento.blank?
            %p Meses en barrica: #{ @vino.meses_envejecimiento }

          %p Denominación de origen: #{ link_to @vino.denominacion.nombre, denominacione_path(@vino.denominacion) }

          %p Tipos de uva: #{ raw @vino.tipo_uvas.collect { |uva| link_to uva.nombre, tipo_uva_path(uva.id) }.join", " }

          %p Precio: #{ @vino.precio.to_f / 100 } €

        %p Descripción: #{ @vino.descripcion }
        
        - if current_user
          .actions
            = button_to new_vino_comentario_path(@vino, @comentario), remote: true, method: "get" do
              .btn-btn-default Comentar vino

            = button_to vinos_lists_path, remote:true, method: "post" do
              .btn.btn-default(href="") + Mis listas

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      #comentarios_form_messages
      #comentario_form

      %ul
        #comentarios
          = render partial: "comentarios/index"
        


