%html(lang="en-US")
  %head
    %title En barrica
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    / <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    / <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer

